<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    
    <% 
        Page p = new Page("","");
        out.print(p.createPage());
    %>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CMS TEMPLATE1</title>
		
        <link rel="stylesheet" type="text/css" href="stylesheet.css" id="stylesheet">
		<!--href="../../stylesheets/stylesheetOne.css"--> 
	</head>
	<body>
                
	  <div id="wrapper">
	  <div id="destination">
				<a href="#" onclick="changeStyle(0)">STYELSHEET ONE</a> 
				<a href="#" onclick="changeStyle(1)">STYLESHEET TWO</a>
			</div>
	   <div>
		</div> 
		<nav id="EDITABLENAV">
						<form  id="navForm">
						  <div id="toolbar3" style="display: none;">
						  <a data-wysihtml5-action="change_view">html view</a> <br> <br>
							<a data-wysihtml5-command="createLink">insert link</a> 							
							
							<div data-wysihtml5-dialog="createLink" style="display: none;">
							  <label>
								Link:
								<input data-wysihtml5-dialog-field="href" value="http://">
							  </label>
							  <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
							</div>
							
						  </div>
						  <% out.print(p.Get("EDITABLENAV"));%><br>
						 <br>
						  <table>
						    <tr>
							<td>
						    Name:<input type="text" name="linkName1" placeholder="Enter name" id="form1"><br>
							</td>
							<td>
							Full URL:<input type="text" name="url1" placeholder="Enter full URL"><br>
							</td>
							</tr>
							<tr>
							<td>
							<br>
							Name:<input type="text" name="linkName2" placeholder="Enter name" id="form2"><br>
							</td>
							<td>
							Full URL:<input type="text" name="url2" placeholder="Enter full URL"><br>
							</td>
							</tr>
							<tr>
							<td><br>
							Name:<input type="text" name="linkName3" placeholder="Enter name" id="form3"><br></td>
							<td>Full URL<input type="text" name="url3" placeholder="Enter full URL"><br></td>
							</tr>
						  <tr><td><input class="buttons" type="reset" value="Reset form!"></td>
						  <td><input class="buttons" type="submit" value="Submit!"></td></tr>
						 </table>
						</form>
						<div id="log3"></div>
						
					</nav> 
                    <aside id="PICS">
                        <% out.print(p.Get("PICS"));%><br> <br>
						IMAGE UPLOAD INCOMPLETE!
					</aside>


                    <div id="CONTENT">
                        
						
						
							
                    </div><!--End of CONTENT div-->
				
							
		</div> <!--end of wrapper-->            
	</body>
</html>

